## Importing libraries

In [1]:
import pandas as pd

## Reading Data

In [2]:
df= pd.read_csv("iitm_intern_train_data.csv")
test=pd.read_csv("iitm_intern_test_data.csv")

## Analysing the data

In [3]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,39,40,41,42,43,44,45,46,47,class
0,-0.000018,0.000043,0.000033,0.000008,0.000018,0.000168,-0.037158,-0.037202,-0.037235,-0.010982,...,-0.67649,0.96055,8.6993,-1.5021,-1.5021,-1.5017,-1.4932,-1.4933,-1.4934,10
1,-0.000001,-0.000017,-0.000091,-0.000002,-0.000005,0.000030,0.003444,0.003460,0.003551,-0.044235,...,-0.76999,6.98720,3.7207,-1.5000,-1.5000,-1.5001,-1.4996,-1.4996,-1.4996,9
2,-0.000008,0.000022,0.000273,-0.000013,0.000045,0.000235,-0.031176,-0.031198,-0.031471,-0.005473,...,-0.50284,2.72700,3.6334,-1.5067,-1.5067,-1.5068,-1.4977,-1.4978,-1.4978,10
3,-0.000003,-0.000024,-0.000068,-0.000004,-0.000014,0.000208,0.011901,0.011925,0.011993,-0.010714,...,-0.82455,5.36100,11.3180,-1.4998,-1.4998,-1.4998,-1.5001,-1.5002,-1.5000,9
4,0.000001,-0.000046,-0.000155,-0.000005,-0.000003,-0.000062,0.002543,0.002589,0.002744,-0.037649,...,-0.70297,1.80770,2.5276,-1.5059,-1.5058,-1.5055,-1.4992,-1.4992,-1.4992,9

In [4]:
test.head()

,0,1,2,3,4,5,6,7,8,9,...,38,39,40,41,42,43,44,45,46,47
0,0.000015,2.261000e-04,0.000143,1.301300e-05,0.000024,0.000166,0.017538,0.017312,0.017169,-0.024930,...,5.3318,-0.51178,1.82140,4.4189,-1.5069,-1.5071,-1.5071,-1.4958,-1.4957,-1.4956
1,0.000001,1.096700e-06,0.000007,3.286500e-06,-0.000004,-0.000024,0.016444,0.016443,0.016436,0.018125,...,5.7592,-0.60895,5.11230,3.3354,-1.4990,-1.4990,-1.4989,-1.4967,-1.4967,-1.4966
2,-0.000003,-5.314800e-07,0.000009,1.214500e-06,0.000002,0.000001,0.023619,0.023619,0.023610,0.010662,...,7.7757,-0.43207,9.65110,7.3805,-1.4988,-1.4988,-1.4988,-1.4999,-1.4999,-1.4999
3,-0.000016,-8.144400e-06,0.000359,-1.369800e-05,-0.000067,-0.000209,-0.105600,-0.105600,-0.105950,-0.135700,...,6.7772,-0.63783,-0.10986,3.8331,-1.4978,-1.4979,-1.4975,-1.5033,-1.5034,-1.5032
4,0.000001,-1.767300e-06,-0.000006,-6.491500e-07,0.000001,-0.000005,0.067877,0.067878,0.067885,0.111340,...,5.6022,-0.50386,16.48400,5.8570,-1.4980,-1.4980,-1.4980,-1.4972,-1.4971,-1.4971

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46807 entries, 0 to 46806
Data columns (total 49 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       46807 non-null  float64
 1   1       46807 non-null  float64
 2   2       46807 non-null  float64
 3   3       46807 non-null  float64
 4   4       46807 non-null  float64
 5   5       46807 non-null  float64
 6   6       46807 non-null  float64
 7   7       46807 non-null  float64
 8   8       46807 non-null  float64
 9   9       46807 non-null  float64
 10  10      46807 non-null  float64
 11  11      46807 non-null  float64
 12  12      46807 non-null  float64
 13  13      46807 non-null  float64
 14  14      46807 non-null  float64
 15  15      46807 non-null  float64
 16  16      46807 non-null  float64
 17  17      46807 non-null  float64
 18  18      46807 non-null  float64
 19  19      46807 non-null  float64
 20  20      46807 non-null  float64
 21  21      46807 non-null  float64
 22  22      46807 non-null  float64
 23  23      46807 non-null  float64
 24  24      46807 non-null  float64
 25  25      46807 non-null  float64
 26  26      46807 non-null  float64
 27  27      46807 non-null  float64
 28  28      46807 non-null  float64
 29  29      46807 non-null  float64
 30  30      46807 non-null  float64
 31  31      46807 non-null  float64
 32  32      46807 non-null  float64
 33  33      46807 non-null  float64
 34  34      46807 non-null  float64
 35  35      46807 non-null  float64
 36  36      46807 non-null  float64
 37  37      46807 non-null  float64
 38  38      46807 non-null  float64
 39  39      46807 non-null  float64
 40  40      46807 non-null  float64
 41  41      46807 non-null  float64
 42  42      46807 non-null  float64
 43  43      46807 non-null  float64
 44  44      46807 non-null  float64
 45  45      46807 non-null  float64
 46  46      46807 non-null  float64
 47  47      46807 non-null  float64
 48  class   46807 non-null  int64
dtypes: float64(48), int64(1)
memory usage: 17.5 MB

## getting some more insights of the trainig data using describe method

In [6]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,39,40,41,42,43,44,45,46,47,class
count,46807.000000,4.680700e+04,4.680700e+04,46807.000000,4.680700e+04,4.680700e+04,46807.000000,46807.000000,46807.000000,46807.000000,...,46807.000000,46807.000000,46807.000000,46807.000000,46807.000000,46807.000000,46807.000000,46807.000000,46807.000000,46807.000000
mean,-0.000003,1.415116e-06,9.925226e-07,-0.000001,1.207948e-06,-7.075103e-07,0.001882,0.001881,0.001880,-0.011906,...,-0.337555,7.300926,8.271516,-1.500881,-1.500905,-1.500799,-1.497778,-1.497800,-1.497692,6.014357
std,0.000080,5.869695e-05,2.372014e-04,0.000070,6.013258e-05,2.278823e-04,0.036524,0.036521,0.036526,0.066422,...,27.964812,12.600663,6.583845,0.003661,0.003671,0.003635,0.003176,0.003176,0.003187,3.156842
min,-0.013721,-5.414400e-03,-1.358000e-02,-0.012787,-8.355900e-03,-9.741300e-03,-0.139890,-0.135940,-0.130860,-0.218640,...,-0.902350,-0.596830,0.320660,-1.525500,-1.526200,-1.523700,-1.521400,-1.523200,-1.521300,1.000000
25%,-0.000007,-1.442100e-05,-7.270050e-05,-0.000005,-1.499750e-05,-7.455400e-05,-0.019870,-0.019911,-0.019887,-0.032113,...,-0.715590,1.452650,4.437100,-1.503300,-1.503400,-1.503200,-1.499600,-1.499600,-1.499600,3.000000
50%,-0.000003,8.966400e-07,4.999900e-07,-0.000001,6.887400e-07,-3.926500e-07,0.013179,0.013185,0.013200,-0.015464,...,-0.661920,3.310100,6.463100,-1.500300,-1.500300,-1.500300,-1.498100,-1.498100,-1.498000,6.000000
75%,0.000002,1.884650e-05,7.459750e-05,0.000004,1.886350e-05,7.077650e-05,0.024758,0.024763,0.024766,0.020449,...,-0.573910,8.289450,9.861250,-1.498200,-1.498200,-1.498200,-1.496200,-1.496300,-1.496200,9.000000
max,0.005784,4.525300e-03,3.330400e-03,0.001453,8.245100e-04,2.753600e-03,0.069125,0.069130,0.069131,0.352580,...,3670.800000,889.930000,153.150000,-1.457600,-1.456100,-1.455500,-1.337200,-1.337200,-1.337100,11.000000

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.drop("class", axis=1),df['class'],test_size=0.20)

In [8]:
X_train

,0,1,2,3,4,5,6,7,8,9,...,38,39,40,41,42,43,44,45,46,47
42831,-5.284300e-06,1.909000e-06,0.000124,-2.216100e-07,-0.000038,-0.000153,0.034761,0.034759,0.034635,0.019620,...,9.1187,-0.81444,23.588000,8.8860,-1.4996,-1.4995,-1.4996,-1.4994,-1.4994,-1.4993
6205,6.045500e-07,3.179800e-05,-0.000279,-2.897500e-07,0.000061,0.000093,0.008946,0.008914,0.009193,-0.002616,...,5.2273,-0.72930,2.452900,1.5383,-1.5016,-1.5017,-1.5013,-1.4956,-1.4956,-1.4954
29773,-6.010700e-06,-2.451600e-05,-0.000007,7.272400e-06,-0.000036,0.000237,0.014078,0.014103,0.014110,0.034684,...,6.4756,-0.65261,0.224440,2.8241,-1.5071,-1.5071,-1.5072,-1.4962,-1.4961,-1.4961
32356,-9.608400e-06,6.535600e-05,0.000181,-1.222700e-05,0.000016,-0.000066,-0.016257,-0.016322,-0.016503,-0.036919,...,13.5260,-0.68517,5.633700,4.0411,-1.5021,-1.5023,-1.5015,-1.4926,-1.4926,-1.4924
22937,2.048900e-06,-1.077200e-07,0.000007,-4.174500e-06,-0.000002,0.000013,0.021365,0.021365,0.021359,-0.028848,...,8.3209,-0.44431,2.530000,19.2330,-1.4982,-1.4982,-1.4982,-1.4972,-1.4972,-1.4972
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42826,-8.789500e-09,7.666400e-06,-0.000098,-4.779300e-06,0.000015,-0.000025,-0.024556,-0.024564,-0.024466,-0.028009,...,2.5933,-0.73771,0.003488,5.8763,-1.5021,-1.5022,-1.5021,-1.4917,-1.4918,-1.4915
12062,-1.262900e-05,-1.064600e-05,-0.000062,-8.778200e-06,-0.000070,0.000053,0.023405,0.023416,0.023478,0.052400,...,2.9040,-0.69852,1.538300,7.2066,-1.5047,-1.5047,-1.5048,-1.4953,-1.4953,-1.4952
45198,1.704900e-06,3.266500e-05,0.000072,1.340900e-05,0.000117,0.000023,0.031293,0.031261,0.031189,0.082231,...,3.3223,-0.71528,3.794200,4.5919,-1.4994,-1.4994,-1.4992,-1.4923,-1.4922,-1.4924
37633,-1.028600e-05,3.362900e-06,0.000017,2.605600e-05,0.000016,0.000408,-0.043716,-0.043720,-0.043737,-0.019306,...,13.2210,-0.53498,1.382900,14.7600,-1.5028,-1.5028,-1.5031,-1.4942,-1.4942,-1.4934
21045,-9.740900e-06,-1.383100e-04,0.000035,-6.126600e-06,-0.000012,-0.000370,0.024173,0.024311,0.024276,0.057033,...,3.3760,-0.70150,3.529000,2.2037,-1.5048,-1.5049,-1.5048,-1.4969,-1.4971,-1.4966

### Preprocessing the data

In [9]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
scaler.fit(test)

StandardScaler()

In [10]:
scaled_features = scaler.transform(X_train)
scaled_valid = scaler.transform(X_test)
scaled_test = scaler.transform(test)

In [11]:
scaled_features

array([[-0.25420927,  0.00913869,  0.53284687, ..., -0.53141373,
        -0.52418414, -0.52420845],
       [ 0.42726387,  0.74492901, -1.23955809, ...,  0.68971606,
         0.69684545,  0.72399651],
       [-0.33827018, -0.64137685, -0.04434678, ...,  0.49690609,
         0.53618366,  0.49995972],
       ...,
       [ 0.55459925,  0.76627232,  0.30392148, ...,  1.75017088,
         1.7893456 ,  1.68415418],
       [-0.83301909,  0.04492997,  0.06124422, ...,  1.13960598,
         1.14669845,  1.36410162],
       [-0.76993869, -3.44269249,  0.14142612, ...,  0.27196113,
         0.21486008,  0.33993345]])

In [12]:
df_train = pd.DataFrame(scaled_features,columns=df.columns[:-1])
df_val = pd.DataFrame(scaled_valid,columns=df.columns[:-1])
df_test = pd.DataFrame(scaled_test,columns=df.columns[:-1])
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,38,39,40,41,42,43,44,45,46,47
0,-0.254209,0.009139,0.532847,0.086145,-1.018262,-0.703342,0.902742,0.902770,0.899317,0.471856,...,0.105819,-0.142891,1.378902,0.092888,0.360197,0.393341,0.338855,-0.531414,-0.524184,-0.524208
1,0.427264,0.744929,-1.239558,0.078406,1.506424,0.418957,0.190441,0.189617,0.197373,0.138594,...,-0.460000,-0.073720,-0.406529,-1.038592,-0.188699,-0.208951,-0.131031,0.689716,0.696845,0.723997
2,-0.338270,-0.641377,-0.044347,0.937173,-0.959278,1.072790,0.332053,0.332799,0.333035,0.697629,...,-0.278494,-0.011414,-0.594783,-0.840590,-1.698164,-1.687304,-1.761810,0.496906,0.536184,0.499960
3,-0.754605,1.571041,0.779888,-1.277202,0.365696,-0.310029,-0.504956,-0.506731,-0.511574,-0.375527,...,0.746651,-0.037867,-0.137825,-0.653183,-0.325923,-0.373212,-0.186311,1.653766,1.660816,1.684154
4,0.594408,-0.040508,0.016092,-0.362750,-0.105543,0.052905,0.533117,0.533183,0.533034,-0.254562,...,-0.010183,0.157817,-0.400016,1.686234,0.744425,0.749241,0.725820,0.175556,0.182728,0.147902

### using gridsearch to found the optimum parameters which is dominating n_neighbours in KNN model

In [22]:
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier

In [23]:
parameters = {'n_neighbors':[5,10, 20, 50, 80, 100, 500]}

knn = KNeighborsClassifier()
gs = GridSearchCV(knn, parameters, n_jobs=-1)
gs.fit(df_train, y_train)

GridSearchCV(estimator=KNeighborsClassifier(), n_jobs=-1,
             param_grid={'n_neighbors': [5, 10, 20, 50, 80, 100, 500]})

In [24]:
gs.best_params_

{'n_neighbors': 10}

In [13]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=10)
knn.fit(df_train,y_train)
pred_knn = knn.predict(df_val)

In [14]:
from sklearn.metrics import accuracy_score, mean_squared_error

In [15]:
mean_squared_error(y_test,pred_knn)

4.494445631275369

### Got the accuracy score of around 82%

In [29]:
print(accuracy_score(y_test,pred_knn))

0.8229010895107883