In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("iitm_intern_train_data.csv")
test=pd.read_csv("iitm_intern_test_data.csv")

In [3]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,39,40,41,42,43,44,45,46,47,class
0,-0.000018,0.000043,0.000033,0.000008,0.000018,0.000168,-0.037158,-0.037202,-0.037235,-0.010982,...,-0.67649,0.96055,8.6993,-1.5021,-1.5021,-1.5017,-1.4932,-1.4933,-1.4934,10
1,-0.000001,-0.000017,-0.000091,-0.000002,-0.000005,0.000030,0.003444,0.003460,0.003551,-0.044235,...,-0.76999,6.98720,3.7207,-1.5000,-1.5000,-1.5001,-1.4996,-1.4996,-1.4996,9
2,-0.000008,0.000022,0.000273,-0.000013,0.000045,0.000235,-0.031176,-0.031198,-0.031471,-0.005473,...,-0.50284,2.72700,3.6334,-1.5067,-1.5067,-1.5068,-1.4977,-1.4978,-1.4978,10
3,-0.000003,-0.000024,-0.000068,-0.000004,-0.000014,0.000208,0.011901,0.011925,0.011993,-0.010714,...,-0.82455,5.36100,11.3180,-1.4998,-1.4998,-1.4998,-1.5001,-1.5002,-1.5000,9
4,0.000001,-0.000046,-0.000155,-0.000005,-0.000003,-0.000062,0.002543,0.002589,0.002744,-0.037649,...,-0.70297,1.80770,2.5276,-1.5059,-1.5058,-1.5055,-1.4992,-1.4992,-1.4992,9

In [4]:
test.head()

,0,1,2,3,4,5,6,7,8,9,...,38,39,40,41,42,43,44,45,46,47
0,0.000015,2.261000e-04,0.000143,1.301300e-05,0.000024,0.000166,0.017538,0.017312,0.017169,-0.024930,...,5.3318,-0.51178,1.82140,4.4189,-1.5069,-1.5071,-1.5071,-1.4958,-1.4957,-1.4956
1,0.000001,1.096700e-06,0.000007,3.286500e-06,-0.000004,-0.000024,0.016444,0.016443,0.016436,0.018125,...,5.7592,-0.60895,5.11230,3.3354,-1.4990,-1.4990,-1.4989,-1.4967,-1.4967,-1.4966
2,-0.000003,-5.314800e-07,0.000009,1.214500e-06,0.000002,0.000001,0.023619,0.023619,0.023610,0.010662,...,7.7757,-0.43207,9.65110,7.3805,-1.4988,-1.4988,-1.4988,-1.4999,-1.4999,-1.4999
3,-0.000016,-8.144400e-06,0.000359,-1.369800e-05,-0.000067,-0.000209,-0.105600,-0.105600,-0.105950,-0.135700,...,6.7772,-0.63783,-0.10986,3.8331,-1.4978,-1.4979,-1.4975,-1.5033,-1.5034,-1.5032
4,0.000001,-1.767300e-06,-0.000006,-6.491500e-07,0.000001,-0.000005,0.067877,0.067878,0.067885,0.111340,...,5.6022,-0.50386,16.48400,5.8570,-1.4980,-1.4980,-1.4980,-1.4972,-1.4971,-1.4971

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46807 entries, 0 to 46806
Data columns (total 49 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       46807 non-null  float64
 1   1       46807 non-null  float64
 2   2       46807 non-null  float64
 3   3       46807 non-null  float64
 4   4       46807 non-null  float64
 5   5       46807 non-null  float64
 6   6       46807 non-null  float64
 7   7       46807 non-null  float64
 8   8       46807 non-null  float64
 9   9       46807 non-null  float64
 10  10      46807 non-null  float64
 11  11      46807 non-null  float64
 12  12      46807 non-null  float64
 13  13      46807 non-null  float64
 14  14      46807 non-null  float64
 15  15      46807 non-null  float64
 16  16      46807 non-null  float64
 17  17      46807 non-null  float64
 18  18      46807 non-null  float64
 19  19      46807 non-null  float64
 20  20      46807 non-null  float64
 21  21      46807 non-null  float64
 22  22      46807 non-null  float64
 23  23      46807 non-null  float64
 24  24      46807 non-null  float64
 25  25      46807 non-null  float64
 26  26      46807 non-null  float64
 27  27      46807 non-null  float64
 28  28      46807 non-null  float64
 29  29      46807 non-null  float64
 30  30      46807 non-null  float64
 31  31      46807 non-null  float64
 32  32      46807 non-null  float64
 33  33      46807 non-null  float64
 34  34      46807 non-null  float64
 35  35      46807 non-null  float64
 36  36      46807 non-null  float64
 37  37      46807 non-null  float64
 38  38      46807 non-null  float64
 39  39      46807 non-null  float64
 40  40      46807 non-null  float64
 41  41      46807 non-null  float64
 42  42      46807 non-null  float64
 43  43      46807 non-null  float64
 44  44      46807 non-null  float64
 45  45      46807 non-null  float64
 46  46      46807 non-null  float64
 47  47      46807 non-null  float64
 48  class   46807 non-null  int64
dtypes: float64(48), int64(1)
memory usage: 17.5 MB

In [6]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,39,40,41,42,43,44,45,46,47,class
count,46807.000000,4.680700e+04,4.680700e+04,46807.000000,4.680700e+04,4.680700e+04,46807.000000,46807.000000,46807.000000,46807.000000,...,46807.000000,46807.000000,46807.000000,46807.000000,46807.000000,46807.000000,46807.000000,46807.000000,46807.000000,46807.000000
mean,-0.000003,1.415116e-06,9.925226e-07,-0.000001,1.207948e-06,-7.075103e-07,0.001882,0.001881,0.001880,-0.011906,...,-0.337555,7.300926,8.271516,-1.500881,-1.500905,-1.500799,-1.497778,-1.497800,-1.497692,6.014357
std,0.000080,5.869695e-05,2.372014e-04,0.000070,6.013258e-05,2.278823e-04,0.036524,0.036521,0.036526,0.066422,...,27.964812,12.600663,6.583845,0.003661,0.003671,0.003635,0.003176,0.003176,0.003187,3.156842
min,-0.013721,-5.414400e-03,-1.358000e-02,-0.012787,-8.355900e-03,-9.741300e-03,-0.139890,-0.135940,-0.130860,-0.218640,...,-0.902350,-0.596830,0.320660,-1.525500,-1.526200,-1.523700,-1.521400,-1.523200,-1.521300,1.000000
25%,-0.000007,-1.442100e-05,-7.270050e-05,-0.000005,-1.499750e-05,-7.455400e-05,-0.019870,-0.019911,-0.019887,-0.032113,...,-0.715590,1.452650,4.437100,-1.503300,-1.503400,-1.503200,-1.499600,-1.499600,-1.499600,3.000000
50%,-0.000003,8.966400e-07,4.999900e-07,-0.000001,6.887400e-07,-3.926500e-07,0.013179,0.013185,0.013200,-0.015464,...,-0.661920,3.310100,6.463100,-1.500300,-1.500300,-1.500300,-1.498100,-1.498100,-1.498000,6.000000
75%,0.000002,1.884650e-05,7.459750e-05,0.000004,1.886350e-05,7.077650e-05,0.024758,0.024763,0.024766,0.020449,...,-0.573910,8.289450,9.861250,-1.498200,-1.498200,-1.498200,-1.496200,-1.496300,-1.496200,9.000000
max,0.005784,4.525300e-03,3.330400e-03,0.001453,8.245100e-04,2.753600e-03,0.069125,0.069130,0.069131,0.352580,...,3670.800000,889.930000,153.150000,-1.457600,-1.456100,-1.455500,-1.337200,-1.337200,-1.337100,11.000000

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.drop("class", axis=1),df['class'],test_size=0.20)

In [13]:
X_train

,0,1,2,3,4,5,6,7,8,9,...,38,39,40,41,42,43,44,45,46,47
5301,-0.000005,0.000103,0.000405,-0.000015,-0.000041,-0.000633,0.022166,0.022063,0.021658,0.060461,...,5.6564,-0.72692,-0.10036,11.7410,-1.5001,-1.5004,-1.5001,-1.4982,-1.4982,-1.4971
14424,-0.000001,0.000008,0.000035,0.000007,0.000007,0.000220,0.015628,0.015620,0.015585,0.026312,...,6.1337,-0.69475,11.69300,25.7800,-1.4967,-1.4967,-1.4968,-1.4997,-1.4997,-1.4999
15264,0.000009,-0.000012,0.000258,0.000024,-0.000054,-0.000774,0.010763,0.010776,0.010517,-0.019582,...,8.8300,-0.60732,3.60260,5.0035,-1.4997,-1.4998,-1.5000,-1.4987,-1.4987,-1.4989
44072,-0.000008,0.000002,0.000155,-0.000008,0.000009,-0.000022,0.011611,0.011609,0.011454,-0.036905,...,10.2710,-0.77119,16.72700,6.8716,-1.4991,-1.4991,-1.4991,-1.5002,-1.5002,-1.5001
9208,0.000007,-0.000016,-0.000073,0.000005,-0.000038,-0.000001,0.020509,0.020525,0.020599,0.046271,...,10.2620,-0.70887,11.15200,4.6197,-1.5015,-1.5015,-1.5015,-1.4960,-1.4961,-1.4962
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7336,0.000001,-0.000011,-0.000499,-0.000005,0.000030,-0.000021,0.039093,0.039105,0.039604,0.074460,...,22.3980,-0.69232,-0.35464,10.2710,-1.5026,-1.5027,-1.5031,-1.5000,-1.5000,-1.4998
29970,0.000012,0.000017,-0.000020,-0.000005,-0.000073,0.000314,-0.026029,-0.026045,-0.026026,-0.025408,...,3.5460,-0.65699,2.39600,7.5769,-1.5085,-1.5086,-1.5082,-1.4973,-1.4973,-1.4973
43367,-0.000007,-0.000002,0.000024,-0.000003,0.000002,0.000006,-0.027772,-0.027770,-0.027793,-0.040046,...,6.3138,-0.61383,9.53780,18.0140,-1.4986,-1.4986,-1.4987,-1.4990,-1.4990,-1.4990
33999,0.000008,0.000010,0.000045,-0.000007,0.000026,-0.000072,0.052725,0.052714,0.052669,0.069472,...,13.6070,-0.70766,0.43817,7.7124,-1.5064,-1.5064,-1.5067,-1.5026,-1.5026,-1.5030
31719,-0.000008,0.000077,0.000430,0.000018,0.000070,0.000375,0.030863,0.030786,0.030356,0.106620,...,9.4524,-0.52782,3.85090,4.1804,-1.4954,-1.4952,-1.4953,-1.5041,-1.5041,-1.5037

In [12]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)

StandardScaler()

In [17]:
scaled_features = scaler.transform(X_train)
scaled_valid = scaler.transform(X_test)
scaled_test = scaler.transform(test)

In [15]:
scaled_features

array([[-0.01127035,  1.62372503,  1.68639215, ..., -0.13078231,
        -0.12392772,  0.18506739],
       [ 0.02644464,  0.1028608 ,  0.14239101, ..., -0.59947426,
        -0.59254563, -0.68638068],
       [ 0.14165615, -0.22106182,  1.07518399, ..., -0.28701296,
        -0.28013369, -0.37514922],
       ...,
       [-0.03681087, -0.05376083,  0.09314387, ..., -0.38075135,
        -0.37385727, -0.40627237],
       [ 0.12952645,  0.14495968,  0.1824788 , ..., -1.50561203,
        -1.49854027, -1.65119818],
       [-0.04604045,  1.21195083,  1.79379481, ..., -1.97430397,
        -1.96715819, -1.86906019]])

In [19]:
df_train = pd.DataFrame(scaled_features,columns=df.columns[:-1])
df_val = pd.DataFrame(scaled_valid,columns=df.columns[:-1])
df_test = pd.DataFrame(scaled_test,columns=df.columns[:-1])
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,38,39,40,41,42,43,44,45,46,47
0,-0.011270,1.623725,1.686392,-0.169644,-0.656459,-2.738921,0.555816,0.553069,0.541963,1.090559,...,-0.398749,-0.014673,-0.578992,0.518117,0.214651,0.138840,0.193861,-0.130782,-0.123928,0.185067
1,0.026445,0.102861,0.142391,0.113033,0.095485,0.956255,0.376807,0.376650,0.375691,0.575357,...,-0.330210,-0.013644,0.339791,2.631438,1.144237,1.147482,1.102355,-0.599474,-0.592546,-0.686381
2,0.141656,-0.221062,1.075184,0.326313,-0.858932,-3.351425,0.243604,0.244014,0.236936,-0.117040,...,0.056970,-0.010846,-0.290507,-0.496094,0.324014,0.302403,0.221391,-0.287013,-0.280134,-0.375149
3,-0.050859,0.003806,0.643148,-0.086655,0.123628,-0.094579,0.266822,0.266823,0.262590,-0.378390,...,0.263893,-0.016090,0.731974,-0.214884,0.488059,0.493228,0.469162,-0.755705,-0.748752,-0.748627
4,0.120123,-0.286382,-0.312899,0.089144,-0.600816,-0.003376,0.510447,0.510956,0.512969,0.876476,...,0.262601,-0.014096,0.297644,-0.553868,-0.168120,-0.161027,-0.191560,0.556633,0.532137,0.465176

In [22]:
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier

In [23]:
parameters = {'n_neighbors':[5,10, 20, 50, 80, 100, 500]}

knn = KNeighborsClassifier()
gs = GridSearchCV(knn, parameters, n_jobs=-1)
gs.fit(df_train, y_train)

GridSearchCV(estimator=KNeighborsClassifier(), n_jobs=-1,
             param_grid={'n_neighbors': [5, 10, 20, 50, 80, 100, 500]})

In [24]:
gs.best_params_

{'n_neighbors': 10}

In [25]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=10)
knn.fit(df_train,y_train)
pred_knn = knn.predict(df_val)

In [27]:
from sklearn.metrics import accuracy_score

In [29]:
print(accuracy_score(y_test,pred_knn))

0.8229010895107883